@tailwind base;
@tailwind components;
@tailwind utilities;
.nav-style{
    @apply absolute inset-y-0 left-0 w-1 bg-white rounded-tr-lg rounded-br-lg;
}

.in-validate{
    @apply border-red-500  text-sm focus:ring-red-500 focus:border-red-500 bg-red-50 border;
}

.dataTables_length select{
    @apply text-base py-1 rounded-md border border-gray-600 px-2;
}

.dataTables_filter input{
    @apply text-base py-1 rounded-md border border-gray-600 outline-none px-2;
}
@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
      }
      .animation-delay-4000 {
        animation-delay: 4s;
      }
}

@layer components {
    .body{
        @apply antialiased;
    }
    html{
        @apply scroll-smooth;
    }
    section{
        @apply py-6 lg:py-12 px-4 lg:px-5 ;
    }
    .title{
        @apply text-3xl lg:text-4xl font-bold mb-8 text-primary;
    }
    button{
        @apply transition ease-in-out duration-150 leading-snug whitespace-nowrap active:hover:scale-95 active:focus:scale-95 cursor-pointer select-none;
    }
    .btn{
        @apply transition ease-in-out duration-150 leading-snug whitespace-nowrap active:hover:scale-95 active:focus:scale-95 cursor-pointer select-none;
    }
  .nav-active{
      @apply bg-[#194990];
  }
  .nav-active2{
      @apply bg-gray-500;
  }
  #map{
      @apply h-[65vh];
  }
  .modal{
    @apply invisible;
}
.modal.is-visible{
    @apply visible;
}
.modal-transition{
    @apply opacity-0 ;
}
.modal.is-visible .modal-transition {
  @apply opacity-100 ;
  }
}


